<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
</head>
<body>
  <div>
      <form action="{{ .PathUpload }}" method="POST" enctype="multipart/form-data">
      <input type="file" id="file" name="file" required>
      {{ if .AuthUpload }}
        <input type="text" id="token" name="{{ .AuthHeader }}" placeholder="{{ .AuthHolder }}">
      {{ end }}
      <input type="submit" value="Upload">
      </form>
  </div>
  <br>
  <div>
    <form action="{{ .PathDownload }}" method="GET">
    <input type="text" id="fileName" name="name" placeholder="Filename" required>
    {{ if .AuthDownload }}
      <input type="text" id="token" name="{{ .AuthHeader }}" placeholder="{{ .AuthHolder }}">
    {{ end }}
    <input type="submit" value="Download">
    </form>
  </div>
  <br>
  <div>
    <form action="{{ .PathList }}" method="GET">
    {{ if .AuthList }}
      <input type="text" id="token" name="{{ .AuthHeader }}" placeholder="{{ .AuthHolder }}">
    {{ end }}
    <input type="submit" value="List">
    </form>
  </div>
  <br>
  <div>
    <a href="{{ .PathHeartbeat }}">server status</a>
  </div>
</body>
</html>
