<!-- auth.tmpl -->
{{ define "auth" }}
<input required type="text"
               title="authentication required"
               class="selectToken"
                name="{{ .Auth.Header }}"
         placeholder="{{ .Index.Placeholder.Auth }}">
<br>
{{ end }}
