<!-- auth.tmpl -->
{{ define "auth" }}
  <input class="selectToken"
          name="{{ .Auth.Header }}"
   placeholder="{{ .Index.Placeholder.Auth }}"
         title="authentication required"
          type="text" required>
  <br>
{{ end }}
