<!-- base.tmpl -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>
  {{ if .Style }}
  <style type="text/css">
  {{ template "style" . }}
  </style>
  {{ end }}
</head>
<body>
  <div class="container">
  {{ if .PathUpload }}
    {{ template "upload" . }}
  {{ end }}
  {{ if .PathDownload }}
    {{ template "download" . }}
  {{ end }}
  {{ if .PathList }}
    {{ template "list" . }}
  {{ end }}
  </div>
  {{ if .PathMessage }}
    {{ template "message" . }}
  {{ end }}
  {{ template "footer" . }}
</body>
</html>
