<!-- body.tmpl -->
{{- define "body" -}}
<body>
  <main>
  {{ template "files"  . }}
  {{ template "text"   . }}
  {{ template "theme"  . }}
  {{ template "config" . }}
  </main>
  {{ template "footer" . }}
</body>
{{ end }}
