<!-- clearStorage.tmpl -->
{{ define "clearStorage" }}
      <div class="row">
        <form action="{{ .Paths.Clear }}"
               class="inline-form"
              method="post">
          {{- if .Auth.Require.Clear }} {{ template "auth" . }} {{ end }}
          <button class="selectClearStorage"
          {{- if not (or .Storage.Files
                         .Storage.Messages
                         .Storage.WallContent) }}
                  disabled
                  title="no content in storage"
          {{- else }}
                  title="clear storage content"
          {{- end }}
                   type="submit">clear storage</button>
        </form>
      </div>
{{- end -}}
