<!-- colorLight.tmpl -->
{{ define "color" }}
    --bg-dark:      rgba(253, 246, 227,   1);
    --bg-norm:      rgba(147, 161, 161,   1);
    --bg-norm-half: rgba(147, 161, 161, 0.5);
    --bg-light:     rgba(238, 232, 213,   1);
    --fg-dark:      rgba(  0   43,  54,   1);
    --fg-light:     rgba(  0,  43,  54,   1);
{{ end }}
