<!-- colorDark.tmpl -->
{{ define "color" }}
    --bg-dark:      rgba(  0,  43,  54,   1);
    --bg-norm:      rgba(  7,  54,  66,   1);
    --bg-norm-half: rgba(  7,  54,  66, 0.5);
    --bg-light:     rgba(101, 123, 131,   1);
    --fg-dark:      rgba(131, 148, 150,   1);
    --fg-light:     rgba(253, 246, 227,   1);
{{ end }}
