<!-- config.tmpl -->
{{ define "config" }}
  <details>
  <summary>config</summary>
    <div class="box">
      {{ if .Style.AllowPick -}}
        {{- template "selectTheme" . }}
      {{ end }}

      {{- template "selectRefresh" . }}

      {{ if .Paths.UserRemask }}
        {{- template "selectRemask" . }}
      {{ end }}

      <br>
      {{- template "selectClear" . }}
    </div>
  </details>
{{ end }}
