<!-- config.tmpl -->
{{ define "config" }}
  <details>
  <summary>config</summary>
    <div class="box">
      {{- template "refreshPage" . }}
      {{- if .Paths.UserRemask }}
        {{- template "userRemask" . }}
      {{- end }}
      {{- if .Paths.Clear }}
        {{- template "clearStorage" . }}
      {{- end }}
    </div>
  </details>
{{ end }}
