<!-- download.tmpl -->
{{ define "download" }}
    <div class="box">
      <form action="{{ .Paths.Download }}"
            method="get">
        <input required type="text"
                       title="download file by name"
                       class="selectFilename"
                        name="name"
                 placeholder="enter filename">
        <br>
        {{ if .Auth.Require.Download }}
          {{ template "auth" . }}
        {{ end }}
        <input type="submit"
              title="download requested file"
              class="selectSubmit"
              value="download">
      </form>
    </div>
{{ end }}
