<!-- files.tmpl -->
{{ define "files" }}
  {{ if .Paths.Upload }}
  <details><summary>upload</summary>
    {{- template "upload" . -}}
  </details>
  {{ end }}
  {{ if .Paths.List }}
  <details><summary>download</summary>
    {{- template "list" . -}}
  </details>
  {{ end }}
{{ end }}
