<!-- footer.tmpl -->
{{ define "footer" }}
    <div class="footer">
      <div class="message">{{ .Version.id }}
        <span class="owner">
        {{ template "version" . }}
        </span>
      </div>
      {{ if .Style.AllowPick }} {{ template "themeSelect" . }} {{ end }}
    </div>
  </body>
</html>
{{ end }}
