<!-- footer.tmpl -->
{{ define "footer" }}
  {{- if .ShowBuild }}
  <input class="hide"
            id="footerToggle"
          type="checkbox">
  <footer>
    <label for="footerToggle">{{ .Version.appID }}</label>
    <div class="footerExtra">
      {{- template "version" . }}
    </div>
  </footer>
  {{- end -}}
{{- end -}}
