<!-- header.tmpl -->
{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Version.id }}-{{ .Version.vers }}">
    <title>{{ .Index.Title }}</title>
    {{ if .Index.CSP }} {{- template "csp" . -}} {{ end }}
    {{ if .Theme }}
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <style>
      {{- template "theme" . }}
    </style>
    {{ end }}
  </head>
  <body>
{{ end }}
