<!-- header.tmpl -->
{{ define "header" }}
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
     content="width=device-width,initial-scale=1.0">
  <meta name="description"
     content="{{ .Version.appID }}-{{ .Version.appVersion }}">
  {{ if .Index.CSP }} {{- template "csp" . -}} {{ end }}
  <title>{{ .Index.Title }}</title>
  {{ if .Theme -}}
  <link href="data:,"
         rel="icon">
  <link href="{{ .Paths.Assets }}style.css"
         rel="stylesheet">
  <style>
    {{ template "style" . }}
  </style>
  {{- end }}
</head>
{{ end }}
