<!-- index.tmpl -->
{{ template "header" . }}
  <body>
    <div class="container">

    {{ if .Paths.Upload }}
    {{ template "upload" . }}
    {{ end }}

    {{ if .Paths.Download }}
    {{ template "download" . }}
    {{ end }}

    {{ if .Paths.List }}
    {{ template "list" . }}
    {{ end }}

    </div>

    {{ if .Paths.Message }}
    {{ template "message" . }}
    {{ end }}

    {{ template "footer" . }}
  </body>
</html>
