<!-- index.tmpl -->
{{ define "index" }}
{{- template "header" . -}}
  <div class="container">
    {{ if .Paths.Upload }}    {{- template "upload" . -}}    {{ end }}
    {{ if .Paths.Download }}  {{- template "download" . -}}  {{ end }}
    {{ if .Paths.List }}      {{- template "list" . -}}      {{ end }}
  </div>
  <div class="container">
    {{ if .Paths.Message }}   {{- template "message" . -}}   {{ end }}
    {{ if .Paths.Wall }}      {{- template "wall" . -}}      {{ end }}
  </div>
{{- template "footer" . -}}
{{ end }}
