<!-- index.tmpl -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>
  {{ if .Theme }}
    <style type="text/css">
      {{ template "style" . }}
    </style>
  {{ end }}
</head>
<body>
  <div class="container">

  {{ if .Path.Upload }}
    {{ template "upload" . }}
  {{ end }}

  {{ if .Path.Download }}
    {{ template "download" . }}
  {{ end }}

  {{ if .Path.List }}
    {{ template "list" . }}
  {{ end }}

  </div>

  {{ if .Path.Message }}
    {{ template "message" . }}
  {{ end }}

  {{ template "footer" . }}

</body>
</html>
