<!-- list.tmpl -->
{{- define "list" }}
  <div class="box">
    {{ if not .Storage.Files }}
    <p>{{ .NoFiles }}</p>
    {{ else }}
    {{ if .Auth.Require.List }}
    <form action="{{ .Paths.List }}"
          method="post">
      {{ template "auth" . }}
      <input class="selectSubmit"
              type="submit"
             value="list">
    </form>
    {{ end }}
    <form action="{{ .Paths.Download }}"
          method="post">
      {{ if not .Auth.Require.List }}
      <div class="itemList">
      {{ range .Storage.Files }}
        <label class="itemCard">
          <input name="name"
                 type="radio"
                value="{{ .ID }}" required>
          <div>{{ .Name }}</div>
          <div class="itemMeta">
            {{ .Size }} &middot;
            {{ .Type }} &middot;
            {{ .Owner.Mask }}
          </div>
          <div class="itemMeta">
            {{ .Time.Remain }} and
            {{ .Downloads.Remain }}/{{ .Downloads.Allow }} downloads remaining
          </div>
        </label>
      {{- end }}
      </div>
      {{- else }}
      <input class="selectFilename"
                id="name"
              name="name"
       placeholder="{{ .Placeholder.File }}"
             title="download file by id or name"
              type="text" required>
      {{- end }}
      <div class="row">
        {{- if .Auth.Require.Download }} {{ template "auth" . }} {{ end }}
        <input class="selectSubmit"
               title="download selected file"
                type="submit"
               value="download">
      </div>
    </form>
    {{ end }}
  </div>
{{- end -}}
