<!-- list.tmpl -->
{{ define "list" }}
  <div class="box">
    <form action="{{ .Paths.List }}"
          method="get">
      {{ if .Auth.Require.List }} {{ template "auth" . }} {{ else }}
      {{ if .Storage.Files }}
      <table>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Owner</th>
          <th>Remain</th>
        </tr>
        {{ $root := . }}
        {{ range .Storage.Files }}
        <tr>
          <td><a href="{{ $root.Paths.Download }}/{{ .Name }}">{{ .Name }}</a></td>
          <td>{{ .Size }}</td>
          <td>{{ .Owner.Address }}</td>
          <td>{{ .Time.Remain }}</td>
        </tr>
        {{end}}
      </table>
      {{end}}
      <br>
      {{ end }}
      <input class="selectSubmit"
              type="submit"
             value="list">
    </form>
  </div>
{{ end }}
