<!-- messageRead.tmpl -->
{{ define "messageRead" }}
  <div class="box">
    {{ range .Storage.Messages }}
    <div class="message"><b>{{ .Count }}</b> {{ .Data }}
      <span class="owner">{{ .Owner.Address }} at {{ .Time.Allow }}</span>
    </div>
    <br>
    {{ end }}
    <form action="">
      <button class="selectRefresh"
               type="submit">refresh</button>
    </form>
    <form action="{{ .Paths.Message }}" method="post">
      <input type="hidden"
             name="clear"
            value="true">
      <button type="submit"
      {{ if not .Storage.Messages }} disabled {{ end }}
             class="selectClear">clear
      </button>
    </form>
    <form action="{{ .Paths.Message }}">
      <input type="hidden"
             name="download"
            value="all">
      <button type="submit"
      {{ if not .Storage.Messages }} disabled {{ end }}
             class="selectRefresh">download
      </button>
    </form>
  </div>
{{ end }}
