<!-- message.tmpl -->
{{ define "message" }}
  <div class="box">
    <form action="{{ .Paths.Message }}"
         enctype="application/x-www-form-urlencoded"
          method="post">

      <input class="selectMessage"
              name="message"
         maxlength="{{ .Limits.MsgChars }}"
       placeholder="{{ .Index.Placeholder.Message }}"
              type="text">

      <input class="selectClear"
              name="clear"
              type="checkbox">
      <br>
      {{ if .Auth.Require.Message }} {{ template "auth" . }} {{ end }}
      <input type="submit"
            class="selectSubmit"
            value="post">
    </form>
  </div>
  <div class="box">
    {{ range .Storage.Messages }}
    <div class="message"><b>{{ .Count }}</b> {{ .Data }}
      <span class="owner">{{ .Owner.Address }} at {{ .Time.Allow }}</span>
    </div>
    <br>
    {{ end }}
    <form action="">
      <button class="selectRefresh"
              type="submit">refresh</button>
    </form>
    {{ if .Storage.Messages }}
    <form action="{{ .Paths.Message }}">
      <input type="hidden"
             name="download"
            value="all">
      <button class="selectRefresh"
               type="submit">download</button>
    </form>
    {{ end }}
  </div>
{{ end }}
