<!-- message.tmpl -->
{{ define "message" }}
  <div class="box">
    <form action="{{ .Paths.Message }}"
          method="post">
      {{- if .Auth.Require.Message }}
      <div class="row">
        <input class="selectMessage"
                name="message"
           maxlength="{{ .Limit.MessageLimits.LengthChars }}"
         placeholder="{{ .Placeholder.Message }}"
               title="message text content"
                type="text" required>
      </div>
      <div class="row">
        {{ template "auth" . }}
        <input class="selectMessagePost"
               title="post message"
                type="submit"
               value="post">
      </div>
      {{ else }}
      <div class="row">
        <input class="selectMessage"
                name="message"
           maxlength="{{ .Limit.MessageLimits.LengthChars }}"
         placeholder="{{ .Placeholder.Message }}"
               title="message text content"
                type="text" required>
        <button class="selectMessagePost"
                title="post message"
                 type="submit">post</button>
      </div>
      {{ end }}
    </form>
    {{- if .Storage.Messages }}
    <div class="itemList">
    {{- range .Storage.Messages }}
      <label class="itemCard">
        <span class="itemName">
          {{ .Count }}
        {{- range .GetParts }}
          {{ if .HasURL }}
          <a href="{{ .URL }}"
           target="_blank"
              rel="noopener noreferrer">{{ .Text }}</a>
          {{ else }} {{ .Text }} {{ end }}
        {{- end }}
        </span>
        <span class="itemMeta">
          {{ .Owner.Mask }} at {{ .Time.Allow }}
        </span>
      </label>
    {{- end }}
    </div>
    {{- end }}
    <form action="{{ .Paths.MessageClear }}"
           class="inline-form"
          method="post">
      {{- if .Auth.Require.MessageClear }}{{ template "auth" . }} {{ end }}
      <button class="selectClearMessages"
      {{- if not .Storage.Messages }} disabled
              title="no messages to clear"
      {{- else }}
              title="clear messages"
      {{- end }}
               type="submit">clear</button>
    </form>
    <form action="{{ .Paths.Message }}"
           class="inline-form"
          method="post">
      <input name="download"
             type="hidden"
            value="allMessages">
      {{- if .Auth.Require.Message }}{{ template "auth" . }} {{ end }}
      <button class="selectDownload"
       {{- if not .Storage.Messages }} disabled
              title="no messages to download"
       {{- else }}
              title="download messages"
       {{- end }}
               type="submit">download</button>
    </form>
  </div>
{{ end }}
