<!-- refreshPage.tmpl -->
{{ define "refreshPage" }}
      <div class="row">
        <form class="inline-form">
          <button class="selectRefresh"
                  title="refresh messages"
                   type="submit">refresh page</button>
        </form>
      </div>
{{ end }}
