<!-- selectRefresh.tmpl -->
{{ define "selectRefresh" }}
    <form action=""
           style="display:inline;">
      <button class="selectRefresh"
              title="refresh messages"
               type="submit">refresh</button>
    </form>
{{ end }}
