<!-- text.tmpl -->
{{ define "text" }}
  {{ if .Paths.Message }}
  <details><summary>message</summary>
    {{- template "message" . -}}
  </details>
  {{ end }}
  {{ if .Paths.Wall }}
  <details><summary>wall</summary>
    {{- template "wall" . -}}
  </details>
  {{ end }}
{{ end }}
