<!-- text.tmpl -->
{{ define "text" -}}
  {{ if .Paths.Message -}}
  {{ if .Storage.Messages }}
  <details open>
  {{ else }}
  <details>
  {{ end }}
  <summary>message</summary>
    {{ template "message" . }}
  </details>
  {{ end }}
  {{ if .Paths.Wall -}}
  {{ if .Storage.WallContent }}
  <details open>
  {{ else }}
  <details>
  {{ end }}
  <summary>wall</summary>
    {{ template "wall" . }}
  </details>
  {{ end }}
{{ end }}
