<!-- theme.tmpl -->
{{- define "theme" -}}
  {{ if .Style.AllowPick -}}
  <details>
  <summary>theme</summary>
    <div class="box">
      <form class="inline-form">
        <div class="themes">
        {{- range .Style.Available }}
          <label class="theme-{{ . }}"
                 title="{{ . }}">
            <input name="theme"
                   type="radio"
                  value="{{ . }}">
            <span class="hide">{{ . }}</span>
          </label>
        {{- end }}
        </div>
        <div>
          <button class="selectTheme"
                  title="apply selected theme"
                   type="submit">apply theme</button>
        </div>
      </form>
    </div>
  </details>
  {{- end -}}
{{- end -}}
