<!-- theme.tmpl -->
{{- define "theme" -}}
  {{ if .Style.AllowPick -}}
  <details>
  <summary>theme</summary>
    <div class="box">
      <form class="inline-form">
        <div class="themes">
        {{- range .Style.Available }}
          <button aria-label="{{ . }}"
                       class="theme-{{ . }}"
                        name="theme"
                       title="{{ . }}"
                        type="submit"
                       value="{{ . }}"></button>
        {{- end }}
        </div>
      </form>
    </div>
  </details>
  {{- end -}}
{{- end -}}
