<!-- themeSelect.tmpl -->
{{ define "themeSelect" }}
  <form action="">
    <select name="theme">
      <option value="">select theme</option>
      <option value="dark">dark</option>
      <option value="light">light</option>
      <option value="gold">gold</option>
      <option value="pastelPurple">pastel purple</option>
    </select>
    <button type="submit"
           class="selectTheme">select</button>
  </form>
{{ end }}
