<!-- upload.tmpl -->
{{ define "upload" }}
    <div class="box">
      <form action="{{ .Paths.Upload }}"
            method="post"
           enctype="multipart/form-data">
        <input required type="file"
                       class="selectFile"
                       title="file to upload"
                        name="file">
        <br>
        {{ if .Auth.Require.Upload }}
          {{ template "auth" . }}
        {{ end }}
        <input type="number"
              title="number of allowed downloads"
              class="selectDownloads"
               name="downloads"
                min="1"
               step="1"
        placeholder="1">
        <input type="text"
              class="selectDuration"
               name="duration"
              title="expire file after duration"
        placeholder="{{ .DefaultDuration }}">
        <br>
        <input type="submit"
              class="selectSubmit"
              title="upload selected file"
              value="upload">
      </form>
    </div>
{{ end }}
