<!-- upload.tmpl -->
{{ define "upload" }}
  <div class="box">
    <form action="{{ .Paths.Upload }}"
         enctype="multipart/form-data"
          method="post">
      <input type="file" autofocus multiple required
            class="selectFile"
             name="file"
            title="file(s) to upload">
      <div class="row">
        <input type="number"
              class="selectAllowDownloads"
                max="{{ .Limit.FileLimits.MaxDownloads }}"
                min="1"
               step="1"
               name="downloads"
              title="number of allowed downloads"
        placeholder="{{ .Default.Downloads }}">
        <input type="text"
              class="selectAllowDuration"
               name="duration"
        placeholder="{{ .DefaultDuration }}"
              title="time until expiration">
      </div>
      {{- if .Auth.Require.Upload }} {{ template "auth" . }} {{ end }}
      <div class="row">
        <button class="selectSubmit"
                title="upload selected file(s)"
                 type="submit">upload</button>
      </div>
    </form>
  </div>
{{ end }}
