<!-- userRemask.tmpl -->
{{ define "userRemask" }}
      <div class="row">
        <form action="{{ .Paths.UserRemask }}"
               class="inline-form"
              method="post">
          {{- if .Auth.Require.UserRemask }} {{ template "auth" . }} {{ end }}
          <button class="selectRemask"
                  title="remask user address"
                   type="submit">remask user</button>
        </form>
      </div>
{{ end }}
