<!-- version.tmpl -->
{{ define "version" }}
        <div class="row">
          <a href="https://github.com/drduh/gone"
           target="_blank">
            {{ .Version.appID }}-{{ .Version.appVersion }}
          </a>
        </div>
        <div class="row">
          up {{ .Uptime }} on {{ .Hostname }}
        </div>
        <div class="row">
          built by {{ .Version.buildUser }}
          from {{ .Version.buildPath }}
        </div>
        <div class="row">
          on {{ .Version.buildHostname }}
          ({{ .Version.buildArch }}/{{ .Version.buildSystem }})
        </div>
        <div class="row">
          <span>
            at {{ .Version.buildTime }} with
            <a href="https://go.dev/"
             target="_blank">
              {{ .Version.buildGoVers }}
            </a>
          </span>
        </div>
{{ end }}
