<!-- version.tmpl -->
{{ define "version" }}
          <a href="https://github.com/drduh/gone">
            {{ .Version.id }}-{{ .Version.vers }}</a>
          <br>built by {{ .Version.user }} on {{ .Version.host }} ({{ .Version.arch }}/{{ .Version.os }})
          <br>from {{ .Version.path }}
          <br>at {{ .Version.time }} using <a href="https://go.dev/">{{ .Version.go }}</a>
          <br>up {{ .Uptime}} on {{ .Hostname }}
{{ end }}
