<!-- wall.tmpl -->
{{ define "wall" }}
  <div class="box">
    <form action="{{ .Paths.Wall }}"
              id="wall"
          method="post">
      <textarea class="wallContent"
                 form="wall"
            maxlength="{{ .Limit.WallLimits.LengthChars }}"
                 name="wall"
                title="add or edit content">
      {{- .Storage.WallContent -}}
      </textarea>
      <div class="row">
        {{- if .Auth.Require.Wall }}{{ template "auth" . }} {{ end }}
        <input class="selectPost"
               title="save contents"
                type="submit"
               value="save">
      </div>
    </form>
    <form action="{{ .Paths.Wall }}"
           class="inline-form"
          method="post">
      <input name="clear"
             type="hidden"
            value="true">
      <button class="selectClearWall"
      {{- if not .Storage.WallContent }} disabled
              title="no wall content to clear"
      {{- else }}
              title="clear wall"
      {{- end }}
               type="submit">clear</button>
    </form>
    <form action="{{ .Paths.Wall }}"
           class="inline-form"
          method="get">
      <input name="download"
             type="hidden"
            value="all">
      <button class="selectDownload"
      {{- if not .Storage.WallContent }} disabled
              title="no wall content to download"
      {{- else }}
              title="download wall"
      {{- end }}
               type="submit">download</button>
    </form>
  </div>
{{ end }}
