/* style.css */
* {
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
  background: linear-gradient(0deg, var(--bg-light) 0%, var(--bg-dark) 100%);
  background-attachment: fixed;
  color: var(--fg-dark);
  display: flex;
  flex-direction: column;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.box {
  background-color: var(--bg-norm-half);
  border: 1px solid var(--fg-dark);
  border-radius: var(--box-radius);
  box-sizing: border-box;
  color: var(--fg-dark);
  flex: 1;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.box:hover {
  background-color: var(--bg-norm);
}

.footer {
  bottom: 1em;
  position: fixed;
  text-align: center;
  width: 100%;
}

a:link, a:visited {
  color: var(--fg-light);
  text-decoration: none;
}

a:active, a:hover {
  color: var(--fg-light);
  text-decoration: underline;
}

button, input, select {
  transition: all var(--animation) ease;
}

button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

button:focus, input:focus, select:focus {
  outline: 1px solid var(--fg-light);
  outline-offset: 2px;
}

button[type="submit"],
input[type="checkbox"],
input[type="file"],
input[type="number"],
input[type="submit"],
input[type="text"],
input::file-selector-button,
.wallContent,
select {
  background-color: var(--bg-dark);
  border: none;
  border-radius: var(--box-radius);
  color: var(--fg-light);
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
}

input[type="number"] {
  appearance: textfield;
}

.message {
  color: var(--fg-light);
  border-bottom: 1px dotted var(--fg-light);
  display: inline-block;
  position: relative;
}

.message .owner {
  background-color: var(--bg-light);
  border-radius: var(--box-radius);
  bottom: 2em;
  color: var(--fg-light);
  padding: 6px 0;
  position: absolute;
  text-align: center;
  transform: translateX(-55%);
  visibility: hidden;
  width: 24em;
  z-index: 10;
}

.message .owner::after {
  border-color: var(--fg-light) transparent transparent transparent;
  border-style: solid;
  border-width: var(--box-radius);
  content: "";
  left: 50%;
  margin-left: -5px;
  position: absolute;
  top: 100%;
}

.message:hover .owner {
  opacity: 1;
  visibility: visible;
}

.selectDownloads, .selectDuration, .selectPost {
  text-align: center;
  width: var(--width-small);
}

.selectClear, .selectFile, .selectFilename, .selectToken, .selectRefresh {
  width: var(--width-large);
}

.selectMessage {
  width: var(--width-xlarge);
}

.selectSubmit, selectTheme {
  width: var(--width-medium);
}

.selectClear:hover,
.selectDownloads:hover,
.selectDuration:hover,
.selectFilename:hover,
.selectMessage:hover,
.selectPost:hover,
.selectRefresh:hover,
.selectSubmit:hover,
.selectTheme:hover,
.selectToken:hover,
.wallContent:hover,
input[type="file"]:hover,
input[type="file"]::file-selector-button:hover {
  background-color: var(--fg-light);
  color: var(--bg-dark);
}
