/* https://github.com/drduh/gone/blob/main/assets/style.css */

* {
  box-sizing: border-box;
}

html {
  animation: var(--bg-animation);
  background: var(--bg-gradient);
  background-attachment: fixed;
  background-size: var(--bg-size);
  height: 100%;
}

body {
  align-items: stretch;
  background: transparent;
  color: var(--fg-dark);
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: var(--font-size);
  margin: 0 auto;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.box {
  background-color: var(--bg-norm-half);
  border: 1px solid var(--fg-dark);
  border-radius: var(--radius-box);
  margin: 1em auto;
  max-width: 100%;
  overflow-x: auto;
  padding: 1em;
  text-align: center;
  width: fit-content;
}

.box:hover {
  background-color: var(--bg-norm);
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.row {
  display: flex;
  justify-content: center;
}

.itemList {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.itemCard {
  border: 1px solid var(--fg-dark);
  border-radius: var(--radius-box);
  cursor: pointer;
  padding: 0.5em 1em;
  text-align: left;
}

.itemCard:hover,
.itemCard:has(input[type="radio"]:checked) {
  background-color: var(--bg-dark);
}

.itemName {
  display: block;
  font-size: 1em;
}

.itemName:hover {
  color: var(--fg-light);
}

.itemMeta {
  display: block;
  color: var(--fg-dark);
  font-size: 0.8em;
}

footer {
  flex-shrink: 0;
  color: var(--fg-norm);
  overflow: hidden;
  max-height: 40px;
  transition: max-height var(--animation) ease;
}

footer label {
  display: block;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  margin: 0;
}

footer .footerExtra {
  padding: 0 2em 2em;
}

#footerToggle:checked ~ footer {
  max-height: 200px;
}

#footerToggle:focus-visible + footer label {
  outline: 2px solid var(--fg-light);
  outline-offset: 2px;
}

a {
  color: var(--fg-light);
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: underline;
}

button,
input,
select {
  transition: all var(--animation) ease;
}

button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

button:focus,
input:focus,
select:focus {
  outline: 1px solid var(--fg-light);
  outline-offset: 2px;
}

input[type="number"] {
  appearance: textfield;
}

input[type="radio"] {
  height: 1px;
  margin: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 1px;
}

button[type="submit"],
input,
input::file-selector-button,
select,
textarea {
  appearance: none;
  background-color: var(--bg-dark);
  border: none;
  border-radius: var(--radius-box);
  color: var(--fg-light);
  cursor: pointer;
  margin: 0.6em;
  padding: 0.6em;
  text-decoration: none;
}

.wallContent {
  height: 12em;
  max-width: 90%;
  width: 80vw;
}

input:not(:disabled):hover,
input[type="file"]::file-selector-button:hover,
button:not(:disabled):hover,
.wallContent:hover {
  background-color: var(--fg-light);
  color: var(--bg-dark);
}

#footerToggle,
.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.inline-form {
  display: inline;
}

.selectAllowDownloads,
.selectAllowDuration {
  text-align: center;
  width: var(--width-xsmall);
}

.selectClearMessages,
.selectClearWall,
.selectDownload,
.selectWallSave,
.selectMessagePost,
.selectSubmit {
  width: var(--width-small);
}

.selectClearStorage,
.selectRefresh,
.selectRemask,
.selectTheme,
.selectUserInfo {
  width: var(--width-medium);
}

.selectToken {
  width: var(--width-large);
}

.selectFile,
.selectFilename,
.selectMessage {
  width: var(--width-xlarge);
}

details {
  padding: 1em;
  text-align: center;
}

summary {
  border-bottom: 1px dotted var(--fg-light);
  color: var(--fg-light);
  cursor: pointer;
  display: inline;
}

summary::marker {
  content: "";
}

.themes {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(5, 1fr);
}

.themes label {
  display: block;
  width: var(--width-theme);
  height: var(--width-theme);
  border-radius: var(--radius-theme);
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.themes label:hover,
.themes label:has(input:checked) {
  outline-color: var(--fg-dark);
}

.themes label:has(input:focus-visible) {
  outline-color: var(--fg-light);
}

.theme-light {
  background: linear-gradient(var(--rotation),
    rgba(238,232,213,1) 0%,
    rgba(253,246,227,1) 100%);
}
.theme-dark {
  background: linear-gradient(var(--rotation),
    rgba(101,123,131,1) 0%,
    rgba(  0, 43, 54,1) 100%);
}
.theme-navy {
  background: linear-gradient(var(--rotation),
    rgba(  0, 91,150,1) 0%,
    rgba(  1, 31, 75,1) 100%);
}
.theme-rose {
  background: linear-gradient(var(--rotation),
    rgba(220,130,130,1) 0%,
    rgba(145, 55, 55,1) 100%);
}
.theme-green {
  background: linear-gradient(var(--rotation),
    rgba(119,171, 89,1) 0%,
    rgba( 35, 77, 32,1) 100%);
}
.theme-lime {
  background: linear-gradient(var(--rotation),
    rgba(170,220,130,1) 0%,
    rgba( 80,130, 50,1) 100%);
}
.theme-pink {
  background: linear-gradient(var(--rotation),
    rgba(255,185,210,1) 0%,
    rgba(210, 90,140,1) 100%);
}
.theme-gold {
  background: linear-gradient(var(--rotation),
    rgba(255,212, 71,1) 0%,
    rgba(166,124,  0,1) 100%);
}
.theme-purple {
  background: linear-gradient(var(--rotation),
    rgba(170,145,230,1) 0%,
    rgba( 80, 60,160,1) 100%);
}
.theme-lush {
  background: linear-gradient(var(--rotation),
    rgba(169,132,248,1) 0%,
    rgba( 26,184,126,1) 100%);
}
.theme-beach {
  background: linear-gradient(var(--rotation),
    rgba(246, 97, 81,1) 0%,
    rgba( 66,142,186,1) 100%);
}
.theme-dusk {
  background: linear-gradient(var(--rotation),
    rgba(255,190,111,1) 0%,
    rgba( 38, 36, 48,1) 100%);
}
.theme-neon {
  background: linear-gradient(var(--rotation),
    rgba(146, 21,245,1) 0%,
    rgba(  0,  0,  0,1) 100%);
}
.theme-night {
  background: linear-gradient(var(--rotation),
    rgba(128,  0,  0,1) 0%,
    rgba(  0,  0,  0,1) 100%);
}
.theme-ember {
  background: linear-gradient(var(--rotation),
    rgba(240,130, 30,1) 0%,
    rgba(120, 40,  0,1) 100%);
}
