/* style.css */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-dark);
  background-attachment: fixed;
  color: var(--fg-dark);
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

a:link, a:visited, a:hover, a:active {
  color: var(--bg-light);
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.box {
  background-color: var(--bg-norm-half);
  border: 1px solid var(--fg-dark);
  border-radius: 6px;
  box-sizing: border-box;
  color: var(--fg-dark);
  flex: 1;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.box:hover {
  background-color: var(--bg-norm);
}

.footer {
  bottom: 10px;
  font-size: 1em;
  position: fixed;
  text-align: center;
  width: 100%;
}

*, button, input, select, a {
  transition: all 0.2s ease;
}

button[type="submit"],
input[type="checkbox"],
input[type="file"],
input[type="number"],
input[type="submit"],
input[type="text"],
input::file-selector-button,
select {
  background-color: var(--bg-dark);
  border: none;
  border-radius: 6px;
  color: var(--fg-light);
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
}

input[type="number"] {
  appearance: textfield;
}

.selectClear {
  appearance: none;
  display: inline-block;
}

.selectClear:checked {
  background-color: var(--fg-light);
  color: var(--bg-dark);
}

.selectClear::before {
  content: "clear";
  display: block;
}

.selectClear:hover {
  background-color: var(--fg-light);
  color: var(--bg-dark);
}

.message {
  color: var(--fg-light);
  border-bottom: 1px dotted var(--fg-light);
  display: inline-block;
  position: relative;
}

.message .owner {
  background-color: var(--bg-light);
  border-radius: 6px;
  bottom: 125%;
  color: var(--fg-light);
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  padding: 6px 0;
  position: absolute;
  text-align: center;
  visibility: hidden;
  width: 12em;
  z-index: 1;
}

.message .owner::after {
  border-color: var(--fg-light) transparent transparent transparent;
  border-style: solid;
  border-width: 6px;
  content: "";
  left: 50%;
  margin-left: -5px;
  position: absolute;
  top: 100%;
}

.message:hover .owner {
  opacity: 1;
  visibility: visible;
}

.selectClear, .selectDownloads, .selectDuration {
  text-align: center;
  width: 4em;
}

.selectFile, .selectFilename, .selectToken, .selectRefresh {
  width: 16em;
}

.selectMessage {
  width: 28em;
}

.selectSubmit {
  width: 18em;
}

.selectTheme {
  width: 12em;
}

.selectClear:hover,
.selectDownloads:hover,
.selectDuration:hover,
.selectFilename:hover,
.selectMessage:hover,
.selectRefresh:hover,
.selectSubmit:hover,
.selectTheme:hover,
.selectToken:hover,
input[type="file"]::file-selector-button:hover {
  background-color: var(--fg-light);
  color: var(--bg-dark);
}

button:focus, input:focus, select:focus {
  outline: 1px solid var(--fg-light);
  outline-offset: 2px;
}
